* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #515076;
    font-weight: 400;
}
.main-title {
   display: flex;
   justify-content: center;
   position: relative;
   z-index: 2;
   margin-top: 220px;
   font-size: 70px;
   line-height: 78px;
   margin-bottom: 110px;
}
.background-for-cards {
   width: 790px;
   height: 697px;
   margin-top: -410px;
   margin-left: 320px;
   position: absolute;
}
#product-cards-list {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   position: relative;
   margin-left: 250px; 
   width: 1200px;
   gap: 45px;
   row-gap: 45px;  
}
.card-container {
    padding: 25px;
    height: 540px;
    width: 344px;
    list-style-type: none;
    background-color: #F7F7FA;
    box-shadow: 2px 2px 10px 0px #5150761A;
}
.product-category {
    margin-top: 20px;
    margin-bottom: 8px;
    color: #A5A3B9;
    text-transform: uppercase;
    display: block;
}
.product-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 4px;
}
.product-description {
    margin-bottom: 15px;
    width: 280px;
}
.product-list-compound {
    margin-top: 5px;
    margin-left: 17px;
    list-style-type: circle; 
    margin-bottom: 14px;
}
.product-list-item {
   margin-top: 10px;
}
.product-price-container {
   display: flex;
   justify-content: space-between;
   width: 290px;
}
.product-price-label {
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
}
.product-price {
   font-size: 20px;
   line-height: 24px; 
}
.button {
   font-size: 20px;
   height: 50px;
   margin-top: 0px;
   margin-left: 70px;
   color: rgb(128, 53, 0);
}
.bg-blue {
   background-color: aquamarine;
}
.footer-product-cards {
    background-color: #3A3A3A;
    height: 477px;
    margin-top: 100px;
}
.product-card-header {
    font-weight: 800;
    width: 214px;
    font-size: 28px;
    line-height: 154%;
    color: #FFFFFF;
    position: absolute;
    margin: 85px 1430px 349px 84px;
}
.product-description-cards {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    margin: 144px 1235px 305px 84px;
    height: 28px;
    width: 409px;
}
.telegram-icon {
    height: 17px;
    width: 21px;
    position: absolute;
    margin: 214px 1623px 245px 84px;
}
.vk-icon {
    height: 14px;
    width: 24px;
    position: absolute;
    margin: 214px 1568px 247px 135px;
}
.product-nav-links {
    width: 178px;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    position: absolute;
    margin: 85px 75px 368px 1475px;
    text-decoration: none;
}
.product-nav {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    text-decoration: none;
}
.product-nav.main {
    margin: 132px 179px 323px 1475px;
}
.product-nav.shop {
    margin: 171px 172px 284px 1475px;
}
.product-nav.contacts {
    margin: 210px 165px 245px 1475px;
}
.product-subscribe-promotions {
    width: 350px;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    position: absolute;
    margin: 85px 665px 363px 713px;
}
.product-input {
    position: absolute;
    margin: 127px 590px 289px 650px;
    height: 61px;
    width: 477px;
    border-radius: 10px;
    border: none
}
.product-input::placeholder {
 font-weight: 500;
 font-size: 17px;
 color: #000000BF;
 padding-left: 36px;
}
.product-input:focus {
    font-size: 24px;
}
.product-black-line {
    height: 18px;
    width: 1px;
    border: 1px;
    background-color: #000000;
    position: absolute;
    margin: 149px 786px 310px 942px;
}
.product-subscribe-button {
    height: 18px;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    position: absolute;
    margin: 147px 641px 308px 975px;
    background: white;
    border: none;
    cursor: pointer;
}
.product-email-copyright {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    position: absolute;
    margin: 427px 676px 28px 676px;
    width: 376px;
}
.product-white-line {
    content: "";
    width: 66px;
    height: 1px;
    border: 1px;
    background-color: #FFFFFF;
    position: absolute;
    margin: 394px 832px 83px 830px
}
.signup-form-container {
    display: flex;
    justify-content: center;
    width: 1700px;
    height: 650px;

}
.signup-form {
    display: flex;
    height: 650px;
    width: 400px;
    margin-top: 80px;
    background-color: #46455b1a;
    border-radius: 7px;
    padding-left: 20px;
    padding-top: 15px;    

}
.register {
 display: block;
 font-size: 17px;
 margin-bottom: 15px;
 margin-top: 5px;
 height: 40px;
 width: 360px;
 background-color: rgb(255, 255, 255);
 border: none;
 border-radius: 4px;
}
.register::placeholder {
    color:#000000;
    padding-left: 80px;
}
 label {
    font-size: 16px;
    color: black;
    font-weight: 500;
}
.register-button {
    height: 60px;
    width: 360px;
    background-color: #000000fe;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.authentication-button {
 font-size: 18px;
 font-weight: 600;
 color: white;
 background-color: black;
 height: 60px;
 width: 360px;
 border: none;
 border-radius: 4px;
 cursor: pointer;
}
 .modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    transform: none;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 10px rgba(0, 0);
    z-index: 1000;
}
.modal-overlay--open {
    display: block;
}
.modal-content {
    display: none;
    width: 350px;
    height: 350px;
    background-color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 1001;
    background-image: url('/images/bg-cartoon.jpg') 
}
.modal-content--open {
    display: block;
    
}
.close-modal-button {
    cursor: pointer;
    height: 20px;
    width: 20px;
}
.modal-register {
  height: 40px;
  width: 300px;
  border-radius: 5px;
  border: none; 
  margin-bottom: 40px;

}
.modal-register.login {
 margin-top: 50px;
}
.modal-register::placeholder {
    font-size: 20px;
    padding-left: 35px;
    color: black;
}

.modal-signin-button {
   height: 40px;
   width: 300px;
   border: none;
   border-radius: 5px;
   background-color: white;
   color: black;
   font-size: 20px;
   cursor: pointer;

}