.users-loading {
    display: flex;
    justify-content: center;
    margin: 500px;
    font-size: 50px;
    font-style: sans-serif;
    color: blue;
}

.users-div-container {
    display: block;
    justify-content: center;
    background-color: #eaeaef;
    height: 400px;
    width: 400px;
}

.users-list {
    margin-top: 350px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.user-img {
    margin-bottom: 25px;
    margin-left: 100px;
    display: flex;
}

.user-name {
    display: inline;
    margin: 0 100px 0 100px;
}

.user-surname {
    display: inline-block;
    margin: 5px 0px 5px 100px;
}

.user-id {
    display: inline-block;
    margin: 0 250px 5px 100px;
    font-weight: bold;

}

.user-email {
    margin: 0 0 0 100px;
    font-weight: bold;
}

.user-age {
    margin: 5px 0 5px 100px;
    font-weight: bold;
}

.btn-delete-user {
    margin-left: 100px;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 100px 0 0 0;
}

.btn-delete-all-users {
    height: 100px;
    width: 200px;
    margin-left: 100px;
    font-size: 20px;
}

.btn-display-all-users {
    height: 100px;
    width: 200px;
    margin-left: 100px;
    font-size: 20px;
}
